{% load static %}

<div class="container__sidebar">
    <aside class="aside__mascota">
        <!-- Contenido del encabezado -->
        <header class="aside__header">
            <div class="container__foto">
                <!-- Muestra la foto de la mascota si está disponible -->
                {% if mascota.foto %}
                <img class="perfil__img" src="{{ mascota.foto.url }}" alt="{{ mascota.nombre }}">
                {% else %}
                <!-- Si no hay foto, muestra una imagen predeterminada o un texto alternativo -->
                <img class="perfil__img" src="{% static 'assets/logo2.svg' %}" alt="Foto de mascota predeterminada">
                {% endif %}
                <form action="{% url 'guardar_archivo_mascota' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="mascota_id" value="{{ mascota.idMascota }}">
                    <input type="file" name="archivo" accept="image/*">
                    <button type="submit">Cargar Foto</button>
                </form>
            </div>
            <div class="opciones__mascota">
                <!-- Agrega el enlace de editar -->
                <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                <!-- Enlace al perfil del propietario -->
                <a href="/Perfil_propietario/{{ mascota.propietario.documento }}"><i class="fa-regular fa-user"></i></a>
            </div>
        </header>
        
        
        <nav class="aside__mascota">
            <!-- Contenido del menú de navegación -->
            <a  class="nav__a boton {% if current_page2 == 'vista__mascota' %}selected{% endif %}" href="/vista__mascota/{{ mascota.idMascota }}/" >
                <i class="fa-solid fa-paw"></i>  
                <h3 class="nav__h3">Datos mascota</h3>
            </a>
           {% comment %}  <a  class="nav__a boton {% if current_page2 == '' %}selected{% endif %} " href="">
                <i class="fa-solid fa-file-waveform"></i>
                <h3 class="nav__h3">Historial Medico</h3>
            </a>  {% endcomment %}
            <a  class="nav__a boton {% if current_page2 == 'listar_consulta' %}selected{% endif %} " href="/listar_consulta/{{ mascota.idMascota }}/">
                <i class="fa-solid fa-stethoscope"></i>
                <h3 class="nav__h3">Consulta</h3>
            </a>
           {% comment %}  <a  class="nav__a boton" href="">
                <i class="fas fa-band-aid"></i>
                <h3 class="nav__h3" >Tratamiento</h3>
            </a> {% endcomment %}
            <a  class="nav__a boton {% if current_page2 == 'listar_vacunas' %}selected{% endif %}" href="/listar_vacunas/{{ mascota.idMascota }}/">
                <i class="fa-solid fa-syringe"></i>
                <h3 class="nav__h3" >Vacunas</h3>
            </a>
           <a  class="nav__a boton"  {% if current_page2 == 'listar_desparacitantes' %}selected{% endif %} href="/listar_desparasitantes/{{ mascota.idMascota }}/">
                <i class="fa-solid fa-prescription-bottle-medical"></i>
                <h3 class="nav__h3">Desparacitante</h3> 
            </a>
            <a  class="nav__a boton {% if current_page2 == 'listar_archivos' %}selected{% endif %}" href="/listar_archivos/{{ mascota.idMascota }}/">
                <i class="fa-solid fa-folder-plus"></i>
                <h3 class="nav__h3">archivos</h3> 
            </a> 
        </nav>
    </aside>
</div>

