

<div class="window-background" id="window-background">
    <div class="window-container" id="window-container">
        <main class="main__mascota">
            <form id="formularioMascota" class="main__form" action="/registrar_mascota/" method="POST">
                {% csrf_token %}
                <div class="main__div">
                    <label class="div__label" for="nombreMascota"  >Nombre</label>
                    <input class="div__input" type="text" id="nombreMascota" name="txtNombreMascota">
                </div>
                
                <div class="main__div">
                    <label class="div__label" for="especieMascota">Especie</label>
                    <input class="div__input" type="text" id="especieMascota" name="txtEspecie">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="razaMascota">Raza</label>
                    <input class="div__input" type="text" id="razaMascota" name="txtRaza">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="sexoMascota">Sexo</label>
                    <input class="div__input" type="text" id="sexoMascota" name="txtSexo">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="colorMascota">Color</label>
                    <input class="div__input" type="text" id="colorMascota" name="txtColor">
                </div>
        
                <div class="div__container">
                    <div class="main__div">
                        <label class="div__label inputAnos" for="edadMascota">Edad</label>
                        <input class="div__input pequeño" type="text" id="edadMascota" name="txtEdad" >
                    </div>
                </div>
                
                <div class="div__container-dos">
                    <div class="main__div">
                        <label class="div__label" for="pesoMascota">Peso</label>
                        <input class="div__input pequeño" type="text" id="pesoMascota" name="txtPeso">
                    </div>
                </div>
                
                <div class="main__div">
                    <label class="div__label" for="alimentacionMascota"> Tipo Alimentación </label>
                    <input class="div__input" type="text" id="alimentacionMascota" name="txtAlimentacion">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="cantAlimentoMascota">Cantidad Alimentos(gramos diarios)</label>
                    <input class="div__input" type="text" id="cantAlimentoMascota" name="txtCantidadAlimento">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="frecuenciaAlimentoMascota">Frecuencia Alimentaria( cuantas veces al dia)</label>
                    <input class="div__input" type="text" id="frecuenciaAlimentoMascota" name="txtFrecuenciaAlimentacion">
                </div>

                <div class="main__div">
                    <label class="div__label" for="frecuenciaLavadoMascota">Frecuencia Baño</label>
                    <input class="div__input" type="text" id="frecuenciaLavadoMascota" name="txtFrecuenciaBano">
                </div>
        
                <div class="main__div">
                    <label class="div__label" for="estadoReproductivo">Estado Reproductivo</label>
                
                    <select class="div__input"t name="txtEstadoReproductivo" id="estadoReproductivo">
                        {% for estado in estados  %}
                        <option value="{{estado.idEstadoReproductivo}}">{{ estado.Estado }}</option>
                        {% endfor %}
                    </select>
                   
                </div>

                <div class="main__div">
                    <label class="div__label" for="propietario">Propietario</label>
                    <select class="div__input" name="txtPropietario" id="propietario">
                        <option value="{{propietario.documento}}">{{propietario.nombres}}</option>
                    </select>
                </div>
                <br>
                <br>
                <br><br>
                <div class="main__div textarea1">
                    <label class="div__label" for="personalidadMascota">Personalidad</label>
                    <textarea class="div__input text"rea name="txtPersonalidad" id="personalidadMascota" cols="30" rows="10"></textarea>
                </div>
    
                <div class="main__div textarea2">
                    <label class="div__label" for="antecedentes">Antecedentes</label>
                    <textarea class="div__input text"rea name="txtAntecedentesClinicos" id="antecedentes" cols="30" rows="10"></textarea>
                </div>
    
                <div class="main__div-btn">
                    <a class="div__btn-formulario" href="{% url "consultorio" %}">Cancelar</a>
                    <button class="div__btn-formulario" type="submit" onclick="return confirmarEnvio()">Guardar</button>
                </div>
    
            </form>
        </main>
    </div>
</div>