{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/Perfil_Propietario.css' %}">
{% endblock styles %}

<div class="window-background" id="window-background">
    <div class="window-container" id="window-container">
        <main class="main_propietario">
                
            <form id="formularioPropietario" class="main__form" action="/actualizar_propietario/{{ propietario.documento }}/" method="post">
                {% csrf_token %}
                <div class="titulo">
                    <p>Datos Propietario</p>
                    <hr class="separador">
                </div>
                
                <div class="main__div">
                    <label class="div__label" for="documentoPro">Documento</label>
                    <input disabled readonly class="div__input" type="number" id="documentoPro" name="txtDocumentoP" value="{{propietario.documento}}" >
                </div>

                <div class="main__div">
                    <label class="div__label" for="nombrePropietario">Nombres</label>
                    <input class="div__input" type="text" id="nombrePropietario" name="txtNombreP" value="{{propietario.nombres}}">
                </div>
                
                <div class="main__div">
                    <label class="div__label" for="apellidoMascota">Apellidos</label>
                    <input class="div__input" type="text" id="apellidoMascota" name="txtApellidosP" value="{{propietario.apellidos}}">
                </div>
        
                <div class="main__div completo">
                    <label class="div__label" for="direccionPropietario">Direccion</label>
                    <input class="div__input dir" type="text" id="direccionPropietario"name="txtDireccionP" value="{{propietario.direccion}}">
                </div>
        
                <div class="main__div pro">
                    <label class="div__label " for="emailPropietario">Email</label>
                    <input class="div__input" type="email" id="emailPropietario" name="txtEmailP" value="{{propietario.email}}">
                </div>
        
                <div class="main__div pro">
                    <label class="div__label" for="numeroPropietario">Celular</label>
                    <input class="div__input" type="num" id="numeroPropietario" name="txtTelP" value="{{propietario.telefono}}">
                </div>
                <br><br><br>

                <div class="separador__container">
                    <p>Datos de Emergencia</p>
                    <hr class="separador">
                </div>
        
                <div class="main__div res">
                    <label class="div__label " for="nomRespaldoPro">Nombre</label>
                    <input class="div__input " type="text" id="nomRespaldoPro" name="txtNombreE"  value="{{propietario.nombreEmer}}">
                </div>
        
                <div class="main__div res">
                    <label class="div__label" for="numRespaldoPro">Celular</label>
                    <input class="div__input " type="number" id="numRespaldoPro" name="txtTelE" value="{{propietario.telefonoEmer}}">
                </div>
                
                <div class="main__div-btn">
                    <a class="div__btn" id="close-button" href="{% url "consultorio" %}">Cancelar</a>
                    <input class="div__btn" type="submit" value="Guardar">
                </div>
            </form>
        </main>
    </div>
</div>