{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Historial Clinico{% endblock %}

{% comment "" %} -------------- styles -------------------{% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'styles/sidebar_Mascota.css' %}">
<link rel="stylesheet" href="{% static 'styles/galeria.css' %}">
{% endblock styles %}

{% comment "" %} -------------- content -------------------{% endcomment %}
{% block content %}
    {% comment "" %} -------------- sidebar principal -------------------{% endcomment %}
    {% include "layouts/partials/sidebar.html" %}

    <main class="main">
        <div class="container">

            {% comment "" %} -------------- sidebar mascota -------------------{% endcomment %}
            {% include "layouts/partials/sidebar__mascota.html" %}

            {% comment "" %} -------------- Contenedor padre de la galeria -------------------{% endcomment %}
            <div class="container__principal">
                <div class="div__head">
                    <h1>Imagenes diagnosticas</h1>
                    <button class="div__btn" id="file-upload-button">Adjuntar</button>
                    <input type="file" id="file-input" style="display:none;">
                </div>

                <form method="post" enctype="multipart/form-data" action="/cargar_archivo/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_nombre">Nombre:</label>
                        <input type="text" class="form-control" id="id_nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="id_archivo">Archivo:</label>
                        <input type="file" class="form-control-file" id="id_archivo" name="archivo">
                    </div>
                    <div class="form-group">
                        <label for="id_fecha">Fecha:</label>
                        <input type="date" class="form-control" id="id_fecha" name="fecha">
                    </div>
                    <div class="form-group">
                        <label for="id_mascota">Mascota:</label>
                        <select class="div__input" name="mascota" id="idMascota">
                            <option value="{{ mascota.idMascota }}">{{ mascota.nombre }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                

                <div class="ful-img" id="fulImgBox">
                    <img src="{% static 'assets/img1.jfif' %}" id="fulIimg" alt="img_galeria">
                    <span onclick="closeImg()">x</span>
                </div>

                {% comment "" %} -------------- Imagenes de la galeria -------------------{% endcomment %}
                <div class="img__galeria">                   
                    {% for archivo in archivos %}
                    <div>
                        <spam>nombre: {{ archivo.nombre }}</spam><br>
                        <img src="{{ archivo.archivo.url }}" onclick="openImg(this.src)" alt="{{ archivo.nombre }}">
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </main>
{% endblock %}

{% comment "" %} -------------- script -------------------{% endcomment %}
{% block scripts %}
<script src="{% static 'js/galeria.js' %}"></script>
<script src="{% static 'js/sidebar_Mascota.js' %}"></script>
{% endblock scripts %}