{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Historial Clinico{% endblock %}

{% comment "" %} -------------- styles -------------------{% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'styles/sidebar_Mascota.css' %}">
<link rel="stylesheet" href="{% static 'styles/vacunas.css' %}">
{% endblock styles %}

{% comment "" %} -------------- content -------------------{% endcomment %}
{% block content %}
    {% comment "" %} -------------- sidebar principal -------------------{% endcomment %}
    {% include "layouts/partials/sidebar.html" %}

    <main class="main">
        <div class="container">
            {% comment "" %} -------------- contenedor de la sidebar Mascota -------------------{% endcomment %}
            
            {% include "layouts/partials/sidebar__mascota.html" %}
            
            
            {% comment "" %} -------------- Contenedor datos vacunas -------------------{% endcomment %}
            <div class="container__principal">
                {% comment "" %} -------------- Codigo formulario -------------------{% endcomment %}
                <div class="div__head">
                    <h1>Vacunas</h1>
                    <button class="div__btn" id="open-button">Registrar vacuna</button>
                </div>

                <div class="window-background" id="window-background">
                    <div class="window-container" id="window-container">
                        <main class="main__vacunas">
                            <form id="formularioVacunas" class="main__form" action="/registrar_vacuna/" method='post'>
                                {% csrf_token %}
                                <div class="main__div fila1Co2">
                                    <label class="div__label" for="fechaVacuna">Fecha aplicación</label>
                                    <input class="div__input" type="date" id="fechaVacuna" name="fecha" pattern="\d{4}-\d{2}-\d{2}" required>
                                </div>
                                
                                <div class="main__div fila2Co1">
                                    <label class="div__label" for="idMascota">Mascota</label>
                                    <select class="div__input" name="idMascota" id="idMascota">
                                        <option value="{{ mascota.idMascota }}">{{ mascota.nombre }}</option>
                                    </select>
                                </div>
                                <div class="main__div fila1Co1">
                                    <label class="div__label" for="nombreVacuna">Nombre Vacuna</label>
                                    <input class="div__input" type="text" id="nombreVacuna" name="nombre" >
                                </div>          
                                <div class="main__div fila1Co1">
                                    <label class="div__label" for="nombreVacuna">Dosis</label>
                                    <input class="div__input" type="text" id="nombreVacuna" name="dosis">
                                </div>   
                                
                                <div class="main__div-btn">
                                    <button class="div__btn" id="close-button" >Cancelar</button>
                                    <button class="div__btn" type="submit" onclick="return confirmarEnvio()">Guardar</button>
                                    <a href="">guardar</a>
                                </div>
                            </form>
                        </main>
                    </div>
                </div>
            
                {% comment "" %} -------------- ventana de confirmacion -------------------{% endcomment %}
               {% comment %}  <div id="modal" class="modal">
                    <div class="modal-content">
                      <p>¿Estás seguro de que quieres enviar el formulario?</p>
                      <br>
                      <button class="div__btn confirmar" onclick="enviarFormulario()">Sí, enviar</button>
                      <button class="div__btn confirmar" onclick="cerrarModal()">Cancelar</button>
                    </div>
                </div> {% endcomment %}

                {% comment "" %} -------------- Codigo tabla -------------------{% endcomment %}
                <div class="containerMayor">
                    <div class="containerLine">

                        {% for v in vacuna %}
                        <div class="box">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><h3>Vacuna:</h3> </th>
                                        <td>{{ v.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha Aplicacion: </th>
                                        <td>{{ v.fecha|date:"d-m-y" }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dosis</th>
                                        <td>{{ v.dosis }}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>       
                        </div>   
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>       
    </main>
{% endblock %}

{% comment "" %} -------------- script -------------------{% endcomment %}
{% block scripts %}
<script src="{% static 'js/listar_vacunas.js' %}"></script>
<script src="{% static 'js/sidebar_Mascota.js' %}"></script>
{% endblock scripts %}