
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} 
VetSysPro dashboard
{% endblock title%}

{% block styles %}
<link rel="stylesheet" href="{%  static 'styles/dashboard.css' %}">
{% endblock styles %}

{% block content %}

  {% if request.user.is_authenticated %}
  {% include "layouts/partials/sidebar.html" %}
  <main class="main">
    <div class="container">
      <div class="div__head">
        <h1>Dashboard</h1>  
      </div>
    </div>
  </main>

  {% endif %}
{% endblock content%}
